.home{
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    position: relative;
    margin: 0 auto;
    background: white;
    width: 100%;

    /* 
      -webkit-flex-direction: column;
    -ms-flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -moz-box-sizing: border-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch; */
}

.div-main{
    
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    
    box-sizing: border-box;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
   flex-direction: row;

    /* display: -webkit-box;
    -moz-box-sizing: border-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -webkit-transition: min-height 200ms ease-in-out;
    -moz-transition: min-height 200ms ease-in-out;
    transition: min-height 200ms ease-in-out; */
}

.main-pic{
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    flex: 1;
    margin: 10px 22px 0 0;
    max-width: 574px;

    /* -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-box-sizing: border-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
}

.main-right{
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    -webkit-flex-basis: 564px;
    flex-basis: 564px;
    justify-content: center;

    /* 
    -moz-box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-preferred-size: 564px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -webkit-flex-direction: column;
    -ms-flex-direction: column; 
    -webkit-justify-content: center;*/
}

.h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h1-span{
    vertical-align: text-bottom;
    background: white;
    display: inline;
}

/* @media screen and (max-width: 1023px)
@media (min-aspect-ratio: 85 / 100) */
.main-p {
    width: 100%;
    max-width: 50vw;
    margin-top: 26px;
    margin-bottom: 16px;
}

.span-p {
    vertical-align: text-bottom;
    background: white;
    display: inline;
}

.p1{
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    flex-direction: row;

    /* 
     -moz-box-sizing: border-box;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
     */
}

.btns{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.btns-a{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    position: relative;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #1865f2;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
}

.span-a{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Lato, "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    -webkit-align-items: center;
    align-items: center;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    pointer-events: none;
}

.div-a{
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: 8px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    width: 8px;
    -ms-flex-basis: 8px;
    -ms-flex-preferred-size: 8px;
    -webkit-flex-basis: 8px;
    flex-basis: 8px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.main2{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    width: 100%;
    margin: 0 0 80px 0;
}

.main2-div{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 0;
    min-width: 0px;
    color: #21242c;
    width: 100%;
    max-width: 1152px;
    padding: 0 64px;
    margin: 122px auto 0 auto;
    -webkit-align-items: center;
    align-items: center;
    min-height: 519px;
}

.main2-h2{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #21242c;
    display: block;
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.1px;
    margin: -40px auto 0;
    padding: 40px 0 80px;
    text-align: center;
    max-width: 800px;
}

.main2-divs{
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 120px 0;
}

.main2-div1{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    display: block;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.main2-div0{
    -ms-flex-negative: 1;
    -ms-flex-positive: 0;
    -ms-flex-preferred-size: 56px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    -webkit-flex-basis: 56px;
    flex-basis: 56px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
}

.main2-div1-img{
    -ms-flex-item-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 160px;
    width: 160px;
    -webkit-align-self: center;
    align-self: center;
    overflow: visible;
    z-index: -1;
    margin: 18px 0 6px 0;
}
.main2-div1-desc{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    text-align: center;
}

.main2-h3{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #21242c;
    display: block;
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.1px;
    margin: 0 0 20px 0;
}

.main2-span{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #21242c;
    display: block;
    font-family: Lato, 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.1px;
}

.main3{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    max-width: 1200px !important;
    padding: 0 64px !important;
    margin: 0 auto 200px auto !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.main3-svg{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
}

.main3-right{
    -ms-flex-negative: 0 !important;
    -ms-flex-preferred-size: 464px !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex-basis: 464px !important;
    flex-basis: 464px !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    margin: 0px !important;
}

.main3-span1{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: rgba(33, 36, 44, 0.64) !important;
    margin: 0 0 37px 0 !important;
}

.main3-h2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #21242c !important;
    display: block !important;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    letter-spacing: -0.1px !important;
    text-indent: -0.35em !important;
}

.main3-span2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    letter-spacing: 0.08em !important;
    color: rgba(33, 36, 44, 0.64) !important;
    margin: 14px 0 0 0 !important;
}

.main3-p{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #21242c !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: -0.1px !important;
    margin: 26px 0 8px 0 !important;
}

.main3-span3{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 17px !important;
    letter-spacing: 0.08em !important;
    color: rgba(33, 36, 44, 0.64) !important;
    margin: 0 0 42px 0 !important;
}

.main3-btn{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.main3-btn1{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.main3-btna{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    outline: none !important;
    text-decoration: none !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: #1865f2 !important;
    color: #ffffff !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    height: 60px !important;

}

.main3-span{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-family: Lato, "Noto Sans", sans-serif !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block !important;
    pointer-events: none !important;
    font-size: 18px !important;
    line-height: 20px !important;
}


.main4-span1{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-family: Lato, "Noto Sans", sans-serif !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block !important;
    pointer-events: none !important;
    font-size: 18px !important;
    line-height: 20px !important;
}

.main4-a{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    outline: none !important;
    text-decoration: none !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: #1865f2 !important;
    color: #ffffff !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    height: 60px !important;
}

.main4-btn1{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex: 1 !important;
    -ms-flex: 1 !important;
    flex: 1 !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.main4-btn{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.main4-p{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    color: #21242c !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    letter-spacing: -0.1px !important;
    margin: 26px 0 42px 0 !important;
}

.main4-h2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #21242c !important;
    display: block !important;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    letter-spacing: -0.1px !important;
}

.main4-span2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    display: block !important;
    font-family: Lato, 'Noto Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0.1em !important;
    color: rgba(33, 36, 44, 0.64) !important;
    margin: 0 0 37px 0 !important;
}

.main4-div2{
    -ms-flex-negative: 0 !important;
    -ms-flex-preferred-size: 464px !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-flex-basis: 464px !important;
    flex-basis: 464px !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    margin: 0px !important;
}

.main-div1{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
}

.main4-imgdiv{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    display: block !important;
}

/* .main4-img{

} */


.main5{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    margin: 0 0 166px 0 !important;
    padding: 0px !important;
}

.main5-h2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #21242c !important;
    display: block !important;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    letter-spacing: -0.1px !important;
    text-align: center !important;
}

.main5-div1{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    min-height: 0px !important;
    min-width: 0px !important;
    position: absolute !important;
    z-index: -1 !important;
}

.main5-div2{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    -webkit-align-items: center !important;
    align-items: center !important;
}
.main5-a{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    position: relative !important;
    display: -webkit-inline-box !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: -webkit-inline-flex !important;
    display: inline-flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    outline: none !important;
    text-decoration: none !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background: #1865f2 !important;
    color: #ffffff !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    height: 60px !important;
    margin: 0 0 8px 0 !important;
    min-width: 335px !important;
}

.main5-a > span{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-family: Lato, "Noto Sans", sans-serif !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    font-weight: bold !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: inline-block !important;
    pointer-events: none !important;
    font-size: 18px !important;
    line-height: 20px !important;
}


.main6{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    padding: 115px 64px 78px 64px !important;
    width: 100% !important;
    -webkit-align-items: center !important;
    align-items: center !important;
}

.sup2img{
    width: 221px !important;
    height: 22px !important;
    margin: -5px 0 0 !important;
}

.sup2imgdiv{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -ms-flex-negative: 0 !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    width: auto !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    text-align: left !important;
    margin: 0 35px 32px !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}
hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.hr{
    border: 0px !important;
    height: 1px !important;
    background: #2D444E !important;
    max-width: 1024px !important;
    margin: 36px 0 68px !important;
}

.sup2{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-lines: multiple !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    padding-top: 68px !important;
    max-width: 1024px !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
}

.suph2{
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    color: #2D444E !important;
    display: block !important;
    font-family: 'Source Serif Pro', 'Noto Serif', serif !important;
    font-size: 36px !important;
    font-weight: 600 !important;
    line-height: 48px !important;
}

.sup1img{
    width: 204px !important;
    height: 21.2px !important;
    margin: -11px 0 0 -11px !important;
}
.sup1imgdiv{
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -ms-flex-negative: 0 !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    width: auto !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-flex-shrink: 0 !important;
    flex-shrink: 0 !important;
    text-align: left !important;
    margin: 0 28px 32px !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

.sup1div{
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-lines: multiple !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
    padding-top: 68px !important;
    max-width: 1024px !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
}

.main6main{
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    -webkit-align-items: stretch !important;
    align-items: stretch !important;
    border-width: 0px !important;
    border-style: solid !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    margin: 0px !important;
    padding: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    min-height: 0px !important;
    min-width: 0px !important;
}