.foo-main-container {
  border: 1px solid midnightblue;
  background-color: midnightblue;
  width: 100%;
}

.foo-container {
  /* border: 3px solid rgb(16, 253, 115); */
  width: 80%;
  height: auto;
  margin: 5% 0% 0% 7%;
}

.foo-container li {
  line-height: 200%;
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 13px;
}

.foo-second-container {
  /* border: 3px solid rgb(0, 56, 240); */
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}

.foo-our-mission-khan {
  /* border: 3px solid orange; */
  width: 40%;
  color: white;
}
.foo-our-mission-div {
  /* border: 1px solid rgb(163, 0, 68); */
  margin-bottom: 10%;
}

.ml-3 {
  font-size: 20px;
}

.foo-flex {
  /* background-color: blue; */
  line-height: 3%;
}

.foo-link-container {
  /* border: 5px solid red; */
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

.title-font {
  color: lightslategray;
  font-weight: lighter;
  font-size: 13px;
}

.foo-bottom-container {
  /* border: 3px solid skyblue; */
  display: flex;
}
.foo-terms-container {
  /* border: 3px solid yellow; */
  width: 80%;
  display: flex;
  font-size: 13px;
}

.f-privacy-policy {
  /* border: 2px solid red; */
  margin-left: 10px;
}

.foo-social-icon {
  width: 20%;
  height: 70%;
  margin-left: 8px;
  /* border: 2px solid skyblue; */
}

.foo-social-media {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 20%;
}

.social-icon-main-div {
  margin-left: 50%;
  /* border: 1px solid black; */
}
.f-change-langauge {
  color: white;
}

.f-privacy {
  color: lightslategray;
}
.f-privacy-policy {
  color: white;
}

.foo-social {
  font-weight: 400;
  font-size: 20px;
  color: lightslategray;
}
.f-donate {
  color: white;
}

.f-change-langauge {
  font-size: 13px;
}
